/* ===== CATEGORY COMPONENTS ===== */
.acm_catCreate {
    display: flex;
    align-items: center;
}

.acm_catList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-image: linear-gradient(348deg, var(--white30a)2%, var(--grey30a)10%, var(--black70a)95%, var(--SmartThemeQuoteColor)100%);
    margin-bottom: 5px;
    border-radius: var(--acm-border-radius-md);
    padding: 0 5px;
    border: 1px solid var(--SmartThemeBorderColor);
}

.acm_catTagSections {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.acm_catTagSection h5 {
    margin: 5px 0;
    font-size: 0.9em;
    color: var(--SmartThemeBodyColor);
    opacity: 0.8;
}

.acm_catTagList {
    display: flex;
    margin: 0 5px 5px 5px;
}

#preset_selector {
    padding-right: 20px;
}
